/* Navbar styles */
.navbar-menu {
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
}

.navbar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar-menu li {
  display: inline-block;
}

/* Link styles */
.navbar-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  display: block;
}

/* Link hover styles */
.navbar-menu li a:hover {
  background-color: #555;
}

/* Active link styles */
.navbar-menu li a.active {
  background-color: #555;
}

/* Add margin to the right of the last link */
.navbar-menu li:last-child {
  margin-right: 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar-menu ul {
    display: flex;
    justify-content: center;
  }
  .navbar-menu li {
    display: block;
    margin-bottom: 10px;
  }
}
