/* Navbar styles */
.navbar-menu {
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
}
.navbar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar-menu li {
  display: inline-block;
}

/* Link styles */
.navbar-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  display: block;
}
.navbar-menu li a:hover {
  background-color: #555;
}
/* Content Style */
.home, .products, .about{
  padding-top: 60px;
  padding-bottom: 220px;
}

.footer {
  background-color: #333;
  color: white;
  height: 200px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; /* Ensure the footer spans the entire width of the page */
  z-index: 1000; /* Adjust z-index if necessary */
}
